{{> head }}
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Esto es una prueba de About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quas quisquam dicta unde fuga. Rem assumenda sint placeat quia dignissimos repellat veritatis vel. Distinctio itaque cupiditate dignissimos officiis explicabo quibusdam.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/812062.png" class="img-thumbnail">
        </div>

    </div>

{{> footer }}